<div class="jumbotron text-center">
<h1 class="display-3">{{title}}</h1>
<p class='lead'>Add your Monday coffee orders here</p>
<a href="/orders/add" class="btn btn-dark btn-lg">Add your next coffee order</a>
</div>